.navbar-brand {
	color: #fff;
}
.callout.callout-style-simple {
	border-right: 1px solid RGBA(var(--bs-body-color-rgb), 0.1);
	border-top: 1px solid RGBA(var(--bs-body-color-rgb), 0.1);
	border-bottom: 1px solid RGBA(var(--bs-body-color-rgb), 0.1);
}

.callout.callout-style-default {
	border-right: 1px solid RGBA(var(--bs-body-color-rgb), 0.1);
	border-top: 1px solid RGBA(var(--bs-body-color-rgb), 0.1);
	border-bottom: 1px solid RGBA(var(--bs-body-color-rgb), 0.1);
}

div.sourceCode,
pre,
pre code:not(.sourceCode) {
	border: 1px solid RGBA(var(--bs-body-color-rgb), 0.1);
}

/* Prevent overflow */
main {
	overflow-wrap: break-word;
	hyphens: auto;
}

.navbar-brand,
#navbar,
.navbar .dropdown-item {
	font-family: "Inter Tight", Roboto;
	font-weight: 800;
}

.navbar,
.nav-footer {
	background-color: #22272e;
	color: rgb(178, 179, 182);
}

.nav-footer a {
	color: var(--bs-link-color);
}

.nav-footer a:hover,
.nav-footer a:focus {
	color: var(--bs-link-hover-color);
}
